body {
    font-family: Arial, sans-serif;
    background-color: #000000de;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: rgba(19, 17, 17, 0.685);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.containerForm {
    margin-bottom: 20px;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: calc(40% - 5px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #777;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="grey" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px;
    margin-right: 1%;
}

.btn {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #801717;
}

.resultado {
    padding: 20px;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #333;
    margin-top: 15px;
}


